.list {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 20px;
}
.list--searchBar {
	padding: 10px;
	font-size: 1.5rem;
	color: rgba(0, 0, 0, 0.404);
	border-radius: 20px;
	outline: none;
	border: none;
}

.list--searchBar:focus {
	box-shadow: 0 0 3px 1px var(--primary-btn);
}

.list__container {
	padding: 5px 10px;
	width: 90%;
	margin: 0 auto;
	height: 880px;
	overflow-y: scroll;
}
.list__container::-webkit-scrollbar {
	width: 5px;
}
.list__container::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.438);
}
.list__container::-webkit-scrollbar-thumb:hover {
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.658);
}
