.presentboard {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../images/biology.png') center / 200px no-repeat;
	background-color: var(--main-color);
	opacity: 1;
}

.presentBoard__container {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.create-btn {
	position: absolute;
	text-decoration: none;
	right: 15px;
	top: 15px;
	font-size: 1.2rem;
}
