@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

:root {
	--main-color: rgb(226, 226, 226);
	--twitter-color: rgb(106, 168, 248);
	--primary-btn: rgb(45, 219, 45);
	--danger-btn: rgb(250, 71, 71);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Lato', 'Helvetica Neue', sans-serif;
	background-color: #f4f4f7;
}

.btn {
	cursor: pointer;
	background-color: none;
	border: none;
	text-decoration: none;
}

.btn-primary {
	text-align: center;
	padding: 15px;
	min-width: 200px;
	font-size: 2rem;
	background: var(--primary-btn);
	color: white;
	font-weight: bold;
	border-radius: 30px;
}

.btn-dangerous {
	text-align: center;
	padding: 15px;
	min-width: 200px;
	font-size: 2rem;
	background: var(--danger-btn);
	color: white;
	font-weight: bold;
	border-radius: 30px;
}
